/* Всякое */

.color1 {
    background-color: rgba(153, 240, 211, 0.39);
}

.italic-text {
    font-style: italic;
}

.normal {
    font-style: normal;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.bold-text {
    font-weight: bold;
}

.p1 {
    background-color: rgba(122, 181, 233, 0.735);
    /* font-size: 24px;
    margin: 0; */
}

.div1 {
    background-color: rgba(255, 255, 255, 0.537);
}

.p2 {
    margin-top: 7px;
}

/* Конец всякого */




/* Боковая панель */

.header {
    width: 155px;
    /* background-color: #f6f6f6; */
    background-color: rgba(255, 255, 255, 0.537);;
    padding: 0px;
    
    
}

.header ol {
    margin: 0px;
    list-style: none;
    padding: 10px;
    font-size: 85%;
    color: rgb(94, 94, 94);
    margin-left: 7px;
    padding-top: 6px;
    padding-bottom: 0px;
}

.header ol>li {
    margin-top: 3px;
    color: rgb(0, 0, 179);
}

.header ol>p {
    border-bottom-style: solid;
    /* border: none; */
    border-color: rgb(94, 94, 94);
    border-width: 0.5px;
    margin-bottom: 7px;
}

.header a {
    text-decoration: none;
}

.sidelogo {
    margin-bottom: 10PX;
}

.sidelogo a {
    display: block;
    width: 10em;
    height: 155px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.side-logo {
    background-image: url(https://ru.wikipedia.org/static/images/project-logos/ruwiki.png);
}

/* Конец боковой панели */




/* Общее */

a {
    text-decoration: none;
}

body {    
    border-width: 0px;
    margin: 0;
    padding: 0%;
}

.all {
    padding: 10px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
    background-color: #f6f6f6;
    display:  flex;
    justify-content: center;
}
h1 {
    margin-top: 5px;
    border-bottom-style: solid;
    border-width: 0.5PX;
    border-color: rgb(94, 94, 94);
    margin-bottom: 0px;
    font-weight: normal;
}

/* Конец общего */



/* Основной контент */

.section {
    width: 92%;
    margin-top: 0px;
}

.main-block {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.5px;
    border-top: 0px;
    padding: 10px;
    padding-left: 15px;

}

/* Конец основного контента */



/* Основной контент / Список */

.list-conteiner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    background-color: #f6f6f6;
    padding-right: 20px;
}

.list-conteiner>p {
    text-align: center;
    font-weight: bold;
} 

/* Конец списка в основном */



/* Боковая панель */

.img-conteiner {
    padding: 5px;
    /* расположение */
    float: right;


    border-style: solid;
    border-width: 0.5px;
    background-color: #f6f6f6;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

.img-conteiner>div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* Свойство для центрования флекс контейнеров в столбце */
}

.h2-1 {
    
    background-color: #bed5fe;
    margin: 10px;
    font-size: 100%;
    padding: 0px;
    display:  flex;
    justify-content: center;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;


}
.h2-1 p {
    margin: 0px;
    padding: 0px;
    
}
.h2-1 a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-size: 85%;

}

.logo-html {
    width: 80px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    
}

.right-panel-text>p {
    width: 250px;
}

/* Конец боковой панели */



/* Верхняя панель навигации */

.navigation-bar {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 0.5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    padding-bottom: 0px;

    background: rgb(185,185,185);
    background: linear-gradient(0deg, rgba(185,185,185,0.15) 0%, rgba(255,255,255,0) 70%);


}

.navigation-bar>nav>ul {
    display: flex;
    list-style: none;
    height: 25px;
    align-items: center;

    padding: 0%;
    margin: 0px;
    padding-top: 5px;

    border-style: solid;
    border-width: 0.3px;
    border-top: 0px;   
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;

    background: rgb(100,229,255);
    background: linear-gradient(0deg, rgba(175, 242, 255, 0.15) 0%, rgba(255,255,255,0) 100%);
    

}

.navigation-bar>nav>ul>li {
    display: block;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 25px;
    margin-top: 0px;

    border-style: solid;
    border-width: 0.3px;
    border-top: 0px;
    border-bottom: 0px;
    
}

.navigation-bar>nav>ul>li>input {
    margin: 0px;
    /* width: 90%; */
}

.navigation-bar a {
    text-decoration: none;
}

/* Конец верхней панели навигации */



/* Медиа. Стили по разрешению */

@media (max-width: 900px) {
    .navigation-bar {
        flex-direction: column;
    }
}
