/* * {
    margin: 0;
    padding: 0;
} */

.color1 {
    background-color: rgba(153, 240, 211, 0.39);
}

.italic-text {
    font-style: italic;
}

.normal {
    font-style: normal;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.bold-text {
    font-weight: bold;
}

.p1 {
    background-color: rgba(122, 181, 233, 0.735);
    /* font-size: 24px;
    margin: 0; */
}

.div1 {
    background-color: rgba(251, 218, 177, 0.55);
}

.list-conteiner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    background-color: white;
    padding-right: 20px;
    
}

.list-conteiner>p {
    text-align: center;
    font-weight: bold;
} 
