/* * {
    margin: 0;
    padding: 0;
} */

.color1 {
    background-color: rgba(153, 240, 211, 0.39);
}

.italic-text {
    font-style: italic;
}

.normal {
    font-style: normal;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.bold-text {
    font-weight: bold;
}

.p1 {
    background-color: rgba(122, 181, 233, 0.735);
    /* font-size: 24px;
    margin: 0; */
}

.div1 {
    background-color: rgba(255, 255, 255, 0.537);
}

.list-conteiner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    background-color: #f6f6f6;
    padding-right: 20px;
    
}

.list-conteiner>p {
    text-align: center;
    font-weight: bold;
} 
.main-block {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.5px;
    padding: 10px;
}
.img-conteiner {
    padding: 5px;
    float: right;
    border-style: solid;
    border-width: 0.5px;
    background-color: #f6f6f6;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

.h2-1 {
    text-align: center;
    background-color: #bed5fe;
    margin: 10px;
    font-size: 100%;

}
.img-conteiner>div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* Свойство для центрования флекс контейнеров в столбце */

}

.logo-html {
    width: 80px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    
}

.all {
    padding: 10px;
    margin: 0px;
    background-color: #f6f6f6;
}
body {    
    border-width: 0px;
    margin: 0;
    padding: 0%;
}

.right-panel-text {
    
}
.right-panel-text>p {
    width: 250px;
}
